.this_day {
    width: 400px;
    height: 300px;
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4F4F4F;
}

.grad {
    font-weight: 500;
    font-size: 96px;   
    color: #4793FF; 
}
.day {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
}
.temp_and_icon {
    display: flex;
    justify-content: space-between;
    
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.time, .place {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #939CB0;
}
